<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test site</title>

    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <header>JJ Demo Page</header>

    <div>Hello <%= fullName %></div>
    <div>milk</div>
    <div>eggs</div>
    <div>tea</div>
    <div>coffee</div>
    <div>dog</div>
    <div>capybara</div>


    <form action="/" method="post">
        <input type="text" name="firstName" id="" placeholder="First Name">
        <input type="text" name="lastName" id="" placeholder="Last Name">
        <input type="text" name="email" id="" placeholder="Email">
        <input type="submit" value="submit">
    </form>

</body>

</html>


